In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'c': ['A', 'A', 'B', 'C', 'C'],
                    'k': [1, 2, 2, 2, 2],
                    'l': ['a', 'b', 'a', 'a', 'd']})

In [4]:
df2 = pd.DataFrame({'c': ['A', 'C'],
                    'l': ['b', 'a']})

In [5]:
df1["unique1"]=[1,2,3,4,5]

In [8]:
df1["test"]=['Hi','hello','check','jass','ooo']

In [9]:
df1

   c  k  l  unique1   test
0  A  1  a        1     Hi
1  A  2  b        2  hello
2  B  2  a        3  check
3  C  2  a        4   jass
4  C  2  d        5    ooo

In [16]:
df2

   c  l
0  A  b
1  C  a

In [14]:
df1.set_index("unique1")

         c  k  l   test
unique1
1        A  1  a     Hi
2        A  2  b  hello
3        B  2  a  check
4        C  2  a   jass
5        C  2  d    ooo

In [15]:
df2.set_index("unique1")

KeyError: "None of ['unique1'] are in the columns"

In [16]:
df1[~df1.index.isin(df2.index)]

   c  k  l  unique
2  B  2  a       3
3  C  2  a       4
4  C  2  d       5

In [32]:
df1[~df1.unique1.isin(df2.unique1)]

   c  k  l  unique1
0  A  1  a        1
2  B  2  a        3
4  C  2  d        5

In [36]:
df1

,r_object_id,audited_obj_id,time_stamp,chronicle_id,object_name,version_label,object_type,event_name,user_name
0,5f004d069d56f3fb,09004d0685765075,2020-04-12 04:04:25,09004d0685765075,P26414_US1_2018-05-14_Reminder_Response_NonFin...,1.0,lpd_document,dm_destroy,dmadmin
1,5f004d069d56f3f2,09004d0685ad6789,2020-04-12 04:04:22,09004d0685ad6789,P38191_BR1_2019-08-19_Invoice_Response_to_offi...,1.0,lpd_document,dm_destroy,dmadmin
2,5f004d069d56f3f3,09004d0685a110b9,2020-04-12 04:04:22,09004d0685a110b9,P38191_BR1_2019-05-07_Report_OA.msg,1.0,lpd_document,dm_destroy,dmadmin
3,5f004d069d56f3f4,09004d06858533f0,2020-04-12 04:04:23,09004d06858533f0,P38191_BR1_2018-06-29_CA_Comments_on_PPH_Progr...,1.0,lpd_document,dm_destroy,dmadmin
4,5f004d069d56f3f5,09004d06846b5ccf,2020-04-12 04:04:23,09004d06846b5ccf,P38191_BR1_2015-03-11_Filing_Details.msg,1.0,lpd_document,dm_destroy,dmadmin
...,...,...,...,...,...,...,...,...,...
8713,5f004d069d55b0d3,09004d0680c10202,2020-04-10 04:02:45,09004d0680c10202,P24972_IN1_2010-12-08_FORM_1.doc,1.0,lpd_document,dm_destroy,dmadmin
8714,5f004d069d55b0d4,09004d0680c101f1,2020-04-10 04:02:45,09004d0680c101f1,P24972_IN1_2010-12-08_FORM_5.doc,1.0,lpd_document,dm_destroy,dmadmin
8715,5f004d069d55b0d5,09004d0680c101f0,2020-04-10 04:02:45,09004d0680c101f0,P24972_IN1_2010-12-08_FORM_2_and_specification...,1.0,lpd_document,dm_destroy,dmadmin
8716,5f004d069d59244f,0b004d06800f73ca,2020-04-14 13:08:55,0b004d06800f73ca,P19605 Common Case Information,1.0,lpd_case_folder,dm_destroy,Anette Larsson BC
8717,5f004d069d58cc74,0b004d068654ecf8,2020-04-14 10:51:57,0b004d068654ecf8,P42216 TO1,1.0,lpd_country_folder,dm_destroy,Eva Marcopoulos

In [35]:
df1=pd.read_excel('C:/Users/esrijyo/Desktop/PandasExample/Total.xlsx')

In [42]:
df2=pd.read_excel('C:/Users/esrijyo/Desktop/PandasExample/Deleted.xlsx')

In [43]:
df1.head()

,r_object_id,audited_obj_id,time_stamp,chronicle_id,object_name,version_label,object_type,event_name,user_name
0,5f004d069d56f3fb,09004d0685765075,2020-04-12 04:04:25,09004d0685765075,P26414_US1_2018-05-14_Reminder_Response_NonFin...,1.0,lpd_document,dm_destroy,dmadmin
1,5f004d069d56f3f2,09004d0685ad6789,2020-04-12 04:04:22,09004d0685ad6789,P38191_BR1_2019-08-19_Invoice_Response_to_offi...,1.0,lpd_document,dm_destroy,dmadmin
2,5f004d069d56f3f3,09004d0685a110b9,2020-04-12 04:04:22,09004d0685a110b9,P38191_BR1_2019-05-07_Report_OA.msg,1.0,lpd_document,dm_destroy,dmadmin
3,5f004d069d56f3f4,09004d06858533f0,2020-04-12 04:04:23,09004d06858533f0,P38191_BR1_2018-06-29_CA_Comments_on_PPH_Progr...,1.0,lpd_document,dm_destroy,dmadmin
4,5f004d069d56f3f5,09004d06846b5ccf,2020-04-12 04:04:23,09004d06846b5ccf,P38191_BR1_2015-03-11_Filing_Details.msg,1.0,lpd_document,dm_destroy,dmadmin

In [44]:
df2.head()

,batch_no,r_object_id,lpd_pnumber,object_name,Failed Reason (Java Exception),i_folder_id,r_object_type
0,400,09004d06859a6121,P39733,P39733_EP-2946596_3GPP_NR_UE.docx,"[DM_API_E_EXIST]error: ""Document/object speci...",0b004d068479cc93,lpd_claim_chart
1,400,09004d06859a6708,P39733,P39733_EP-2946596_3GPP_NR_UE.docx,"[DM_API_E_EXIST]error: ""Document/object speci...",0b004d068479cc93,lpd_claim_chart
2,400,09004d0685ad6fb5,P37694,P37694_(Claim_1)_Mercedes_MBUX_-_Available_Par...,"[DM_API_E_EXIST]error: ""Document/object speci...",0b004d0685ad6ef2,lpd_claim_chart
3,400,09004d0686368b1e,P32817,P32817_P32817_US3_US9277436_802.11_MD_STA.docx,"[DM_API_E_EXIST]error: ""Document/object speci...",0b004d06843b7f9c,lpd_claim_chart
4,400,09004d06863b989a,P32817,P32817_P32817_US3_US9277436_802.11_MD_STA.docx,"[DM_API_E_EXIST]error: ""Document/object speci...",0b004d06843b7f9c,lpd_claim_chart

In [47]:
df3 = df1[df1.audited_obj_id.isin(df2.r_object_id)]

In [48]:
df3

,r_object_id,audited_obj_id,time_stamp,chronicle_id,object_name,version_label,object_type,event_name,user_name
1325,5f004d069d07b536,09004d06853c080e,2020-04-02 04:02:56,09004d06853c080e,P47551_US2_2016-08-12_Invoice_for_filing_US_ea...,1.0,lpd_document,dm_destroy,dmadmin
1328,5f004d069d07b50a,09004d0680406491,2020-04-02 04:02:53,09004d0680406491,P27424_cited_in_ISR_(D4)_JP2151133.pdf,1.0,lpd_document,dm_destroy,dmadmin
1329,5f004d069d07b511,09004d068040506c,2020-04-02 04:02:54,09004d068040506c,P27424_cited_in_ISR_(D2)_US20060098765.pdf,1.0,lpd_document,dm_destroy,dmadmin
1331,5f004d069d07b51e,09004d06800eb7dd,2020-04-02 04:02:55,09004d06800eb7dd,P27424_US1_2009-11-26_FFN1_to_CF.msg,1.0,lpd_document,dm_destroy,dmadmin
1332,5f004d069d07b521,09004d0685981dba,2020-04-02 04:02:55,09004d0685981dba,P76597_US1_2018-12-28_Official_Filing_Receipt_...,1.0,lpd_document,dm_destroy,dmadmin
...,...,...,...,...,...,...,...,...,...
6850,5f004d069d3507d9,09004d0684bc582e,2020-04-04 04:06:55,09004d0684bc582e,P42432_US1_2015-07-29_Invoice_No_1512.pdf,1.0,lpd_document,dm_destroy,dmadmin
6853,5f004d069d3507f1,09004d068464b6cf,2020-04-04 04:06:57,09004d068464b6cf,P42432_US1_2015-03-10_EP_Claims.doc,1.0,lpd_document,dm_destroy,dmadmin
6886,5f004d069d3509b1,09004d06852eb6ed,2020-04-04 04:07:12,09004d06852eb6ed,P43990_US1_2016-10-26_Change_of_Correspondence...,1.0,lpd_document,dm_destroy,dmadmin
6889,5f004d069d34fa29,09004d0684cde075,2020-04-04 04:04:57,09004d0684cde075,P27856_JP2_2015-12-02_CF_instructions_to_CA_fo...,1.0,lpd_document,dm_destroy,dmadmin
6890,5f004d069d34fa32,09004d0684cde074,2020-04-04 04:04:58,09004d0684cde074,P27856_JP2_2015-12-01_CA_reminder_re_1st_OA_de...,1.0,lpd_document,dm_destroy,dmadmin

In [17]:
df3.to_excel('C:/Users/esrijyo/Desktop/PandasExample/Result.xlsx',index=False)

NameError: name 'df3' is not defined